
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**Global code */
.text-center{
  text-align: center;
}

.fit{
  width: 100%;
}

.flex-box{
  display: flex;
}

.contenu{
  width: 35rem;
  margin: auto;
}

.text-bold{
  font-weight: bold;
}

.img-centered{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}
.img-rounded{
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

/** Style for navigation bar */

.hr{
  border: 2px solid aquamarine;
}
.nav{
  width: 100%;
  margin: auto;
  margin-top: 15px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav ul li{
  padding: 15px;
  box-sizing: content-box;
}
.nav-link:hover{
  background-color: lightseagreen;
  cursor: pointer;
}
.nav ul li a{
  color: gray;
  text-decoration: none;
}

.avoid-new-line{
  white-space: nowrap;
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.active-nav{
  background-color: lightseagreen;
}

/** Authentication component */

.authentication__icon{
  object-fit: scale-down;
}



/**
* Style for Box
 */
.boxi{
  border: 1px solid gray;
  text-align: center;
}

.header{
  text-align: center;
  border-bottom: 2px solid #282c34;
}

/** Box border */
/*.box{
  border: px solid gainsboro;
}*/

.authentication .header{
  background-color: aliceblue;
  border-bottom: 2px solid silver;
  text-align: center;
  margin-top: 2px;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
}
.hr-sect:before,
.hr-sect:after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

/** Dashboard CSS */

.option{
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.option li{
  display: inline-block;
  width: 50%;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.option-li-active{
  color: aquamarine;
  background-color: lightgrey;
}
.header_nav{
  border-bottom: 1px solid lightgray;
}

/** Leader Board */
.leader-board{
  position: relative;
  display: flex;
  border: 2px solid gray;
  margin: 10px;
  padding: 15px 5px;
}

.information{
  flex-grow: 1;
  border-right: 2px solid gainsboro;
  border-left: 2px solid gainsboro;
  padding: 10px;
  margin : 0 5px;
}

.score{
  width: 150px;
}

.score-text{
  background-color: lightseagreen;
  width: 70px;
  height: 70px;
}

.item-rounded{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: auto;
}

.triangle{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 60px 0 0;
  border-color: grey transparent transparent transparent;
}

.gold{
  color: gold;
}

.silver{
  color: silver;
}

.bronze{
  color: #cd7f32;
}

/** Question answer */

.result-box{
  position: relative;
  border: 1px solid grey;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px;
}

.img-box {
  border-right : 2px solid lightgray;
  margin-right: 10px;
}

.question-info{
  flex-grow: 1;
}

.answer > div:first-child {
  border-right: 2px solid gainsboro;
}

.answer-content{
  margin-left: 15px;
}

.question-not-choosed{
  border: 2px solid gray;
  background-color: aliceblue;
}

.question-choosed{
  border: 2px solid mediumseagreen;
  background-color: lightseagreen;
}

.badge-text{
  position: absolute;
  top:-20px;
  right: -20px;
  background-color: gold;
  color: white;
  font-weight: bold;
  font-size: 12px;
  width: 40px;
  height: 40px;
}